.am-list-item .am-input-extra {
    max-height: 30px;
}
.navbar {
    position:fixed;
    width:100%;
    background-color:transparent;
    top:0px;
}
.register-header {
    margin-top: 0.50rem;
}
.code-button {
    background-color: #00153E;
    color: white;
}
.code-button::before {
    border: 1px solid #00153E !important;
}
.am-button.am-button-disabled {
    color: #ffffff;
}
.change-language{
    position: absolute;
    top: 7%;
    right: 5%;
}
.change-language div{
    float: right;
    border: 1px solid #fff;
    padding: 1px 5px;
}
::-moz-placeholder { color: #333333; }
::-webkit-input-placeholder { color:#333333; }
:-ms-input-placeholder { color:#333333; }
