.activate-not{
    text-align: center;
    margin-top: 30%;
    font-size: .17rem;
}
.activate-php{
    text-align: center;
    margin-top: 30%;
    font-size: .17rem;
}
.activate-php-img{
    margin: auto;
    width: .7rem;
    height: .7rem;
    padding: .3rem 0 .2rem;
}
.activate-php-img img{
    width: 100%;
    height: 100%;
}