.deposit-images-text {
    font-size: 0.16rem;
    color: #333333;
}
.deposit-footer {
    font-size: 0.14rem;
    line-height: 0.18rem;
    color: #999999;
    margin-left: 0.15rem;
}

.am-image-picker-list {
    height: 28vh;
}

.am-button-ghost.am-button-disabled {
    position: relative;
    border: none;
    color: rgb(0, 0, 0);
}