.message-content-container {
    margin: 0.15rem;
    padding: 0.10rem;
    background: white;
    box-shadow: 0 2px 26px 0 rgba(221,221,221,0.50);
}
.message-content-container p { word-wrap:break-word; }