.exchange-argeement-container {
    padding: 0.26rem 0.10rem 0rem 0.20rem; 
    color: #666666;
    font-size: 0.14rem;
}

.argeement-confirm {
    margin-top: .2rem;
    text-align: center;
}
.agreement-submit {
    margin-top: 0.1rem;
    
}
.agreement-submit-button {
    width: 2.17rem;
    margin: auto;
}